body
{
  color: blueviolet;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#container 
{
    width: 70%;
    padding: 1 cm;
    text-align: left;
    border: 1px solid paleturquoise;
    margin: 0 auto;
}

#container h1 
{
    font-size: 20px;
}

#cabecera 
{
    background-color: palevioletred;
    color: purple;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    width: 70%;
    justify-content: center;
}